@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    /* CSS HEX */
--primary-color: #43271c;
--secondary-color: #43be7d;
--accent1-color: #c36621;
--accent2-color: #b0b2b8ff;
--lprimary-color: #cfd6eaff;

--heading-font: "Playwrite DE Grund", cursive;
--paragraph-font: "Playwrite DE Grund", cursive;

--nav-background-color: #a25e21;
--nav-link-color: #fff;
--nav-hover-link-color: #c4c989;
--nav-hover-background-color: #a25e21;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    height: 100px;
    align-content: center;
}

header img {
    height: 80px;
    float: left;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    margin: 1em;
    border: 1px solid var(--lprimary-color);
    background-color: var(--secondary-color);
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Class Selectors*/

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero div {
    position: relative;
}

.hero h1 {
    top: 280px;
    left: 70px;
    position: absolute;
    color: #fff;
    z-index: 1;
}

.hero article {
    top: 300px;
    max-width: 920px;
    position: absolute;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    opacity: 0.8;
}

.hero article img {
    width: 300px;
    height: auto;
    border: 1px solid var(--accent1-color);
    padding: 2px;
    float: right;
    margin: 0 0 1rem 1rem;
    opacity: 1;
}

* {
    max-width: 1200px;
}